<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Course Evaluation Confirmation</title>
</head>

<body>
	<h1>Evaluation Data</h1>

	<span><b>Name: </b><%= name %></span><br>
	<span><b>Email Address: </b><%= email %></span><br>
	<span><b>Course Code: </b><%= course %></span><br>
	<span><b>Evaluation Information: </b><br><%= background %></span>
	<hr>

	
	<span><b>Task completed at <%= time %></b></span>

	<hr>
	<a href="/">Return Home</a>
</body>

</html>
